<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
    <!-- Custom CSS -->
    <base href="/">
    <link rel="stylesheet" href="css/stylefordashboard.css">

    
    <link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet">

	<!-- fa fa font -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Horizone</title>
</head>

<body>
    
    <%- include ('../include/sideBar') -%>
    
    <div class="main-content">   
        <main>
            <section class="recent">
                <section class="recent">
                    <h3>Recent activity </h3>
                    <table id="contacts" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Creator</th>
                                <th>Category</th>
                                <th>Cooperative</th>
                                <th>Detail</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% eventData.forEach((data) =>{%>
                            <tr>
                                <td><%= data.event_name %></td>
                                <td><%= data.info_name %></td>
                                <td><%= data.category_name %></td>
                                <td><%= data.cooperative_name %></td>
                                <td><a href="/event/<%=data.event_id%>" style="color: #00688B; font-size: 18px;"><i class="fa fa-eye"></i></a></td>
                                <td>
                                    <% var date = new Date();
                                    if(data.event_date.getFullYear() > date.getFullYear()){%>
                                        <div class="status" style="background-color: darkcyan; width: 20px; height: 20px; border-radius: 50%;"></div>
                                    <%}else if(data.event_date.getFullYear() == date.getFullYear()){%>
                                        <%if(data.event_date.getMonth() > date.getMonth()){%>
                                            <div class="status" style="background-color: darkcyan; width: 20px; height: 20px; border-radius: 50%;"></div>
                                        <%}else if(data.event_date.getMonth() == date.getMonth()){%>
                                            <%if(data.event_date.getDate() > date.getDate()){%>
                                                <div class="status" style="background-color: darkcyan; width: 20px; height: 20px; border-radius: 50%;"></div>
                                            <%}else if(data.event_date.getDate() == date.getDate()){%>
                                                <div class="status" style="background-color: #ECAB53; width: 20px; height: 20px; border-radius: 50%;"></div>
                                            <%}else{%>
                                                <div class="status" style="background-color: gray; width: 20px; height: 20px; border-radius: 50%;"></div>
                                            <%}%>
                                        <%}else{%>
                                            <div class="status" style="background-color: gray; width: 20px; height: 20px; border-radius: 50%;"></div>
                                        <%}%>
                                    <%}else{%>
                                        <div class="status" style="background-color: gray; width: 20px; height: 20px; border-radius: 50%;"></div>
                                    <%}%>
                                </td>
                                <td><%= data.event_date.getDate()%>/<%= data.event_date.getMonth()%>/<%= data.event_date.getFullYear()%></td>
                                <td><a href="/event/delete/<%=data.event_id%>" style="color: #00688B; font-size: 18px;"><i class="fa fa-window-close"></i></a></td>
                            </tr>
                            <%}) %>
                        </tbody>
                    </table>
                </section> 
            </section>        
        </main>  
    </div>
    

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <!-- Optional JavaScript -->
    <script>
        $(document).ready(function() {
            $('#contacts').DataTable();
        });
    </script>
</body>

</html>